{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'API Key'|t,
    instructions: 'Please provide a key that you will add query parameter "key"',
    id: 'key',
    name: 'key',
    value: settings['key']})
}}
